<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Personal Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{//localhost:3000/assets/img/favicon.png}" rel="icon">
  <link th:href="@{//localhost:3000/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{//localhost:3000/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{//localhost:3000/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{//localhost:3000/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{//localhost:3000/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{//localhost:3000/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{//localhost:3000/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{//localhost:3000/assets/css/style.css}" rel="stylesheet">
</head>
<body>
  <main id="main">
    <div id="portfolio-details" class="portfolio-details" th:with="data = ${product}">
      <div class="container">
        <button type="button" th:onclick="'closeWin('+${product.getId()}+')'" class="close btn btn-danger" aria-label="Close" style="float: right">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">

          <div class="col-lg-8">
            <h3 class="portfolio-title" th:text="${data.getCategory()+', '+data.getName()}"></h3>
            <span style="font-size: xx-large"><i class="bi bi-cart4" style="color: springgreen"></i><i id="count" th:text="${orders}"></i></span><br/>
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img th:src="${data.getImage()}" alt="" th:ondblclick="change">
                </div>

                <div class="swiper-slide">
                  <img th:src="${data.getImage()}" alt="" style="transform: scaleX(-1);"/>
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Product information</h3>
            <ul>
              <li><strong>Product Category: </strong><span th:text="${data.getCategory()}"></span></li>
              <li><strong>Product Name: </strong><span th:text="${data.getName()}"></span></li>
              <li><strong>Product Price: #</strong><span th:text="${data.getPrice()}"></span></li>
              <li><strong>Product Quantity: </strong><span th:text="${data.getQuantity()}"></span></li>
            </ul>
            <p>Product Description</p>
            <p th:text="${data.description}"></p>
            <br/>
            <button th:onclick="'add('+${data.getId()}+')'" class="btn btn-success">Add to Cart <i class="bi bi-cart4"></i></button>
          </div>

        </div>

      </div>
    </div>
  </main>
  <!-- Vendor JS Files -->
  <script th:src="@{//localhost:3000/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{//localhost:3000/assets/vendor/glightbox/js/glightbox.min.js}"></script>
  <script th:src="@{//localhost:3000/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{//localhost:3000/assets/vendor/php-email-form/validate.js}"></script>
  <script th:src="@{//localhost:3000/assets/vendor/purecounter/purecounter.js}"></script>
  <script th:src="@{//localhost:3000/assets/vendor/swiper/swiper-bundle.min.js}"></script>
  <script th:src="@{//localhost:3000/assets/vendor/waypoints/noframework.waypoints.js}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- Template Main JS File -->
  <script th:src="@{//localhost:3000/assets/js/main.js}"></script>
  <script>
    function add(id){
      let data = document.getElementById("count").innerText;
      let newCount = Number(data);
      newCount++;
      document.getElementById("count").innerText = newCount.toString();

      $.ajax({
        type: 'POST',
        url: '/add_to_cart/'+id,
        // data: {"postId": postId},

        success: function(data){
          console.log(data);
        },
        error: function(){
          console.log("error");
        }
      });
    }

    function closeWin(id){
      window.location.href = "/home";
    }
  </script>
</body>

</html>