<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="fonts/icomoon/style.css" />

    <link rel="stylesheet" href="css/owl.carousel.min.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css" />

    <title>Shopping Mall</title>
  </head>
  <body>
  <div th:with="error=${session.message}">
    <div th:if="${error} != null">
      <div class="alert alert-success" role="alert">
        <div th:text="${error}"></div>
      </div>
    </div>
  </div>
    <div class="content">
      <div class="container">
        <div class="row justify-content-center">
          <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="form-block">
                  <div class="mb-4">
                    <h3>Registration</h3>
                    <p class="mb-4">
                      Since opening its doors in 1992, Mall of Africa® KFC has
                      revolutionized the shopping experience and become a leader
                      in retail, entertainment and attractions.
                    </p>
                  </div>
                  <form th:action="@{/signupProcessing}" th:object="${person}" method="POST">
                    <div class="form-group first">
                      <label for="username">full Name</label>
                      <input
                        type="text"
                        th:field="*{fullName}"
                        th:value="${person.getFullName()}"
                        name="username"
                        class="form-control"
                        id="username"
                        required
                      />
                    </div>
                    <div class="form-group last mb-4">
                      <label for="password">password</label>
                      <input
                        type="password"
                        th:field="*{password}"
                        th:value="${person.getPassword()}"
                        name="password"
                        class="form-control"
                        id="password"
                        required
                      />
                    </div>

                    <div class="form-group last mb-4">
                      <label for="password">email</label>
                      <input
                        type="email"
                        th:field="*{email}"
                        th:value="${person.getEmail()}"
                        name="email"
                        class="form-control"
                        id="email"
                        required
                      />
                    </div>

                    <div class="form-group last mb-4">
                      <label for="password">phone number</label>
                      <input
                        type="text"
                        th:field="*{phoneNumber}"
                        th:value="${person.getPhoneNumber()}"
                        name="number"
                        class="form-control"
                        id="number"
                        required
                      />
                    </div>

                    <div id="form-row" class="form-group last mb-6">
                      <div class="form-group col-md-4">
                        <label for="female" style="margin-left: 15px"
                        >Female</label
                        >
                        <input
                          type="radio"
                          th:field="*{gender}"
                          id="female"
                          name="gender"
                          value="Female"
                          required
                        />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="male" style="margin-left: 15px">Male</label>
                        <input
                          type="radio"
                          th:field="*{gender}"
                          id="male"
                          name="gender"
                          value="Male"
                          required
                        />
                      </div>
                    </div>

                    <div class="d-flex mb-5 align-items-center">
                      <label class="control control--checkbox mb-0"
                        ><span class="caption"
                          ><a th:href="@{/}">Login as a User</a></span
                        >
                        <input type="checkbox" checked="checked" />
                        <div class="control__indicator"></div>
                      </label>
                    </div>

                    <input
                      type="submit"
                      value= "Register"
                      class="btn btn-pill text-white btn-block btn-primary"
                    />
                  </form>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
